<table>
 <tr>
 <td>Ingredient</td>
   <td>Spice</td>
   <td>Measurement</td>
 </tr>
 <% @foods.each do |food_hash|%>
 <tr>
   <td><%= food_hash["ingredient"]%></td> 
   <td><%= food_hash["spice"]%></td>
   <td><%= food_hash["measurement"]%></td> 
 </tr>
 <% end %>
</table> 