
<h1>Food Recipe</h1>
<h2>Ingredient:  <%= @food.ingredient %></h2>
<h2>Spice:  <%= @food.spice %></h2>
<h2>Measurement:  <%= @food.measurement %></h2>

<%= link_to "Delete Recipe", "/foods/#{@food.id}", method: :delete %>


